# GitHub Personal Access Token for higher rate limits (Optional but Recommended)
# Get yours here: https://github.com/settings/tokens (Needs basic read:user repo access)
GITHUB_TOKEN=

# Google Gemini API Key for generating feedback
# Get yours here: https://aistudio.google.com/app/apikey
GEMINI_API_KEY=AIzaSyB4-Qtg_ynYeyQlzpo7FeJgTacVB3Nf6f8

# MongoDB URI for storing leaderboard (Optional: Will work without it but won't save history)
# E.g. mongodb+srv://user:pass@cluster.mongodb.net/skillscore
MONGODB_URI=
