# GitHub Personal Access Token for higher rate limits (Optional but Recommended)
# Get yours here: https://github.com/settings/tokens (Needs basic read:user repo access)
GITHUB_TOKEN=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

# Google Gemini API Key for generating feedback
# Get yours here: https://aistudio.google.com/app/apikey
GEMINI_API_KEY=AIzaSyCUTILV63nVN6QqK-Fe1PVgJhBBubqkWr0
# MongoDB URI for storing leaderboard (Optional: Will work without it but won't save history)
# E.g. mongodb+srv://user:pass@cluster.mongodb.net/skillscore
MONGODB_URI=
